.quiz-container {
	box-sizing: border-box;
	width: 100%;
	height: 350px;
	padding: 48px 64px;
	background-color: #efe2cc;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	overflow-y: auto;
}
	.quiz-container.shaded {
		filter: blur(5px); /* Adjust the blur amount as needed */
		pointer-events: none; /* Prevent interaction with blurred content */
	}


*, *:before, *:after {
	box-sizing: inherit;
}

.quiz-question input[type='radio'] {
	display: none;
}

	.quiz-question input[type='radio'] + label {
		position: relative;
		display: flex;
		align-items: center;
		cursor: pointer;
		color: black;
		transition: color 0.3s ease;
	}

		.quiz-question input[type='radio'] + label::before {
			content: '';
			display: inline-block;
			width: 24px;
			height: 24px;
			margin-right: 10px;
			border-radius: 50%;
			border: 2px solid #d1d9e6;
			background: #fff;
			box-shadow: -8px -4px 8px 0px #ffffff, 8px 4px 12px 0px #d1d9e6;
			transition: background-color 0.3s ease, border-color 0.3s ease;
		}

		.quiz-question input[type='radio'] + label:hover::before {
			background-color: #ccc;
		}

	.quiz-question input[type='radio']:checked + label::before {
		background-color: black;
		border: 2px solid black;
	}

	.quiz-question input[type='radio']:checked + label {
		color: black;
	}

.quiz-container h2 {
	font-size: 24px;
	color: #333;
	margin-bottom: 20px;
}

.rating-container {
	display: grid;
	gap: 10px;
	margin-top: 10px;
}

.quiz-section h2 {
	font-family: 'Arial', sans-serif;
	font-size: 1.5em;
	color: #000000;
	border-bottom: 2px solid #e3d5bc;
	padding-bottom: 5px;
}

.progress-bar-container {
	width: 100%;
	background-color: #e0e0e0;
	border-radius: 25px;
	overflow: hidden;
}

.progress-bar {
	width: 0;
	height: 10px;
	background-color: #715f40;
}
.quiz-question p.question-text {
	font-family: 'Arial', sans-serif;
	font-size: 1.2em;
	color: #333;
}
#davai {
	display: inline-block;
	position: absolute;
	left: 50%;
	top:  80%;
	transform: translateX(-50%);
}
#email_sub {
	border-style: revert-layer;
	margin-left: 10px;
	border-block-color: black;
	height: 31px;
}
#container4 {
	align-items: flex-start;
}
	#davai.shady {
		filter: blur(5px); /* Adjust the blur amount as needed */
		pointer-events: none; /* Prevent interaction with blurred content */
	}
.button-container {
backdrop-filter:blur(1000px) !important;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%);
	white-space: break-spaces;
}


@media (max-width: 600px) {
	.quiz-container {
		height: 350px;
		background: #ecf0f3;
	}

	.quiz-question {
		margin-bottom: 40px;
	}

		.quiz-question input[type='radio'] + label {
			margin-left: 10px;
		}

	.rating-container {
		top: 80%;
	}
}
